{% extends 'layout.html.twig' %}
{% block title %}Show Item{% endblock %}
{% block body %}
   <main>  
    <h1>Item {{ item.title }}</h1>  
    <ul>  
        <li>Id : {{ item.id }}</li> 
    </ul>  
    <p><a href="/item/edit/{{ item.id }}">Modifier l'item</a></p>
    <form method="POST" action="/item/delete">
    	<input type="hidden" name="id" value="{{ item.id }}">
    	<input type="submit" name="delete" value="supprimer item" />
    </form>
    <p><a href='/'>Back to list</a></p>
   </main>  
{% endblock %}